<footer class="footer">
    <div class="container">
        <a href="https://recurly.com"><img class="footer__logo" src="_assets/images/recurly-logo-white.svg" alt="Recurly"></a>
        <p class="social-icons">
            <a class="social-github" href="https://www.github.com/recurly"><img src="_assets/images/github.svg" style="height: 24px;"></a>
            <a class="social-facebook" href="https://www.facebook.com/recurly"><img src="_assets/images/facebook.svg" style="height: 24px;"></a>
            <a class="social-twitter" href="https://www.twitter.com/recurly"><img src="_assets/images/twitter.svg" style="height: 24px;"></a>
            <a class="social-linkedin" href="https://www.linkedin.com/company/recurly-inc-"><img src="_assets/images/linkedin.svg" style="height: 24px;"></a>
        </p>
        <p class="copyright">
            <span class="copyright__recurly">&copy; 2019 Recurly Inc.</span> 
            <span class="sep"></span> 
            <a href="https://recurly.com/legal/privacy">Privacy</a> 
            <span class="sep"></span> 
            <a href="https://recurly.com/legal/terms">Terms</a> 
            <span class="sep"></span> 
            <a href="https://recurly.com/">Recurly.com</a>
        </p>
    </div>
</footer>
