<ul class="{{ include.className }}">
    <li class="{{ include.className }}__item">
        <a href="/documentation/">Documentation</a>
    </li>
    <li class="{{ include.className }}__item">
        <a href="/api/">API Reference</a>
    </li>
    <li class="{{ include.className }}__item">
        <a href="/guides/">Guides</a>
    </li>
    <li class="{{ include.className }}__item">
        <a href="/contact-form/" data-event="meganav-clicked" data-ga-click="MegaNav click meganav-contact">Contact</a>
        <ul class="{{ include.className }}__sub">
            <li class="{{ include.className }}__subitem"><a href="/contact-form/" data-event="meganav-clicked" data-ga-click="MegaNav click meganav-contact-sales">Contact Sales</a></li>
            <li class="{{ include.className }}__subitem"><a href="https://recurly.zendesk.com/" target="_blank" title="Support &amp; Help" data-action="track" data-event="outgoing-link" data-location="header v3" data-target="info" data-ga-click="MegaNav click meganav-contact-support">Contact Support</a></li>
        </ul>
    </li>
</ul>
