.btn {
	display: inline-block;
    user-select: none;
	padding: 1.25rem 2.5rem;
	font-size: 1.5rem;
	line-height: 1em;
	font-weight: 600;
	letter-spacing: 0.01em;
	color: #fff;
    text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
    cursor: pointer;
	border: 0;
	border-radius: 3px;
	background: $color-green;
	transition: background-color $animation-speed;

	&:hover {
		background: darken( $color-green, 10% );
		color: #fff;
	}

	&--sm {
		padding: 0 2rem;
		font-size: 1.3rem;
        line-height: 3.5rem;
	}

	&--lg {
        @media ( min-width: $screen-lg-min ) {
		    padding: 1.6rem 5rem 1.4rem;
		    font-size: 2rem;
            line-height: 1em;
        }
	}

	// clear buttons
	&--inverse {
		color: $color-green;
		background: transparent;

		&:hover {
			color: $color-green;
		}
	}

	// v light grey ( for green backgrounds )
	&--grey {
		color: $color-green;
		background: $color-litegrey;

		&:hover {
			color: $color-green;
			background: #fff;
		}
	}

	// white buttons ( for green backgrounds )
	&--white {
		color: $color-green;
		background: #fff;

		&:hover {
			color: $color-green;
			background: $color-litegrey;
		}
	}

	&--purple {
		color: #fff;
		background: $color-purple;

		&:hover {
			background: darken( $color-purple, 10% );
		}
	}

	&--blue {
		color: #fff;
		background: $color-darkblue;

		&:hover {
			background: darken( $color-darkblue, 10% );
		}
	}

	&--green {
		color: #fff;
		background: $color-green;

		&:hover {
			background: darken( $color-green, 10% );
		}
	}
	
	&--orange {
		color: #fff;
		background: $color-orange;

		&:hover {
			background: darken( $color-orange, 10% );
		}
	}

    &--fill,
	&--block {
		display: block;
        padding-left: 0;
        padding-right: 0;
		width: 100%;
	}

	// bordered buttons, one white border, one green
	// default is white
	&--bordered {
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
		background: transparent;
		transition: box-shadow $animation-speed;

		@media ( min-width: $screen-md-min ) {
			box-shadow: inset 0 0 0 2px rgba( #fff, 0.5 );
		}

		// small has 25% opacity 
		.btn--sm {
			box-shadow: inset 0 0 0 1px rgba( #fff, 0.25 );
		}

		.btn--lg {
			box-shadow: inset 0 0 0 2px rgba( #fff, 0.5 );

            @media (min-width: $screen-lg-min )  {
                box-shadow: inset 0 0 0 2px rgba( #fff, 0.5 );
            }
		}

		// btn-inverse has green border
		&.btn--inverse {
			box-shadow: inset 0 0 0 1px rgba( $color-green, 0.5 );

			@media ( min-width: $screen-md-min ) {
				box-shadow: inset 0 0 0 2px rgba( $color-green, 0.5 );
			}

			&.btn--lg {
				box-shadow: inset 0 0 0 1px rgba( $color-green, 0.5 );

				@media ( min-width: $screen-md-min ) {
					box-shadow: inset 0 0 0 2px rgba( $color-green, 0.5 );
				}
			}

			&:hover {
				color: $color-green;
				box-shadow: inset 0 0 0 1px rgba( $color-green, 1 );
				
				@media ( min-width: $screen-md-min ) {
					box-shadow: inset 0 0 0 2px rgba( $color-green, 1 );
				}
			}

		}

		&:hover {
			box-shadow: inset 0 0 0 1px;
			color: #fff;
			background: none;

			@media ( min-width: $screen-md-min ) {
				box-shadow: inset 0 0 0 2px;
			}

			.btn--lg & {
				box-shadow: inset 0 0 0 1px;

                @media (min-width: $screen-md-min) {
                    box-shadow: inset 0 0 0 2px;
                }
			}
		}

		&--thin {
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);

			&:hover {
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
			}
		}

		&.btn--purple {
			color: $color-purple;
			box-shadow: inset 0 0 0 1px rgba($color-purple, 0.5 );

			&:hover {
				box-shadow: inset 0 0 0 1px rgba($color-purple, 1 );
			}
		}

		&.btn--green {
			color: $color-green;
			box-shadow: inset 0 0 0 1px rgba($color-green, 0.5 );

			&:hover {
				box-shadow: inset 0 0 0 1px rgba($color-green, 1 );
			}
		}
		&.btn--orange {
			color: $color-orange;
			box-shadow: inset 0 0 0 1px rgba($color-orange, 0.5 );

			&:hover {
				box-shadow: inset 0 0 0 1px rgba($color-orange, 1 );
			}
		}
		&.btn--blue {
			color: $color-darkblue;
			box-shadow: inset 0 0 0 1px rgba($color-darkblue, 0.5 );

			&:hover {
				box-shadow: inset 0 0 0 1px rgba($color-darkblue, 1 );
			}
		}
	}

	[class*="icon"] {
		position: relative;
		top: 0.2rem;
		margin-right: 0.4rem;
	}

}
