@import '../config';

.dropdown {
    $height: 4rem;
    $item-height: 4rem;

    display: inline-block;
    position: relative;
    width: 26rem;
    height: $height;
    line-height: $height;
    text-align: left;
    border-radius: 3px;
    border: .1rem solid $border-grey;
    background: #f8f8f9;
    transition: border $animation-speed;

    &:hover {
        border-color: #ccc;
    }

    &__toggle {
        display: block;
        padding: 0 $gutter 0 $spacing;
        font-size: 1.6rem;
        color: $font-color;
        text-decoration: none;

        &:hover {
            color: $font-color;
        }
    }

    [class*="icon-"] {
        display: block;
        content: "";
        position: absolute;
        top: 0.4rem;
        right: 0;
        bottom: 0;
        width: $height * .8;
        line-height: $height;
        text-align: center;
        color: #8c8c91;

        pointer-events: none;
    }

    &__menu {
        position: absolute;
        top: $height + $gutter / 4;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        max-height: ($item-height) * 10;
        overflow: auto;
        border-radius: .3rem;
        border: .1rem solid #e2e2e3;
        background: #fff;
        opacity: 0;
        z-index: 1;
        -webkit-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
        transform: translateY(-1rem);
        pointer-events: none;
        transition: opacity .2s, transform .2s;

        &--show {
            opacity: 1;
            -webkit-transform: translateY(0rem);
            -ms-transform: translateY(0rem);
            transform: translateY(0rem);
            pointer-events: all;
        }

        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            display: block;
            padding: 0 $gutter / 2;
            color: $font-color;
            text-decoration: none;
            line-height: $item-height;
            vertical-align: middle;
            
            &:hover {
                background-color: #f8f8f9;
            }
        }

        li:first-child a {
            border-top: none;
        }
    }
}
